p {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}